
/**** Global Styles ****/

body {
  font-family: Arial;
}

/*** background for homepage ***/
.homebg {
  background-color: black;
  background-image: url("../img/bgimage2.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

/*** background for work page ***/
.workbg {
  background-color: black;
  background-image: url("../img/bgimage1.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

/*** background for about page ***/
.aboutbg {
  background-color: black;
  background-image: url("../img/bgimage12.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}

/*** background for portfolio page ***/
.portbg {
  background-color: black;
  background-image: url("../img/bgimage8.jpg");
  background-repeat:no-repeat;
  background-size: cover;
}


/*** Header Styles ***/

div h1 {
  color: black;
  font-size: 400%;
  float:left;
  margin-left: 2px;
  margin-top: 2px;
  float: right;
}

h1 {
  border: 1px solid black;
}

.center_title {
  border: 1px solid green;
  color: grey;
  margin-top: 200px;
  float: right;
  margin-right: 400px;
  padding: 100px;
  margin-bottom: 0px;
  font-family: 'Kaushan Script', cursive;
}

div h1 span {
  color: white;
  font-size: 150%;
  font-family: 'Kaushan Script', cursive;
}

h2 {
  border: 4px solid grey;
  text-align: center;
  padding-top: 0px;
  margin: 0px;
}

.top_container {
  height: 90px;
  background: black;
}

/*** NAV ***/

ul {
  float: right;
  background-color: black;
}

ul li {
  color: white;
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 150%;
}

ul li a {
  text-decoration: none;
}

a:visited {
  color: white;
}

footer p {
  color: white;
}

/*** ABoutme page ***/

.aboutme_section {
  float: left;
  color: white;
  font-weight: bold;
  width: 500px;
  margin-top: 120px;
  border: 1px solid red;S
}

.aboutme_left {
   float: left;
   margin: 250px;
   display: inline-block;
 }

 /*** Work page ***/

 .resume {
   color: black;
   background: white;
   width: 500px;
   float: left;
   margin-top: 100px;
   margin-left: 300px;
   border: 10px solid black;
 }

 .resume p {

   padding: 10px;

 }

.resume_link:visited {
   color: brown;
 }
